<div class="container">
  <h1>Stupid Coaching</h1>
  <div class="alert alert-success">
    <%= params[:question] %>
    <p>-You</p>
  </div>
  <div class="alert alert-warning">
    <%= @answer %>
    <p>-Your Coach</p>
  </div>
  <%= link_to("Ask a new question", ask_path, class: 'btn btn-primary') %>
</div>
